<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"
/>
<div class="surpresa">
  <div class="surpresa_all">
    <ul class="surpresa_list">
      <li class="surpresa_list_item">Olá Mundo ! <span class="fi fi-br fis"></span></li>
      <li class="surpresa_list_item">Hello world ! <span class="fi fi-us fis"></span></li>
      <li class="surpresa_list_item">Helo fyd ! <span class="fi fi-gb-wls fis"></span></li>
      <li class="surpresa_list_item">Witaj świecie ! <span class="fi fi-pl fis"></span></li>
      <li class="surpresa_list_item">Здраво свет ! <span class="fi fi-rs fis"></span></li>
      <li class="surpresa_list_item">Bonjour le monde ! <span class="fi fi-fr fis"></span></li>
      <li class="surpresa_list_item">안녕하세요 세상 ! <span class="fi fi-kr fis"></span></li>
      <li class="surpresa_list_item">Hallo Welt ! <span class="fi fi-de fis"></span></li>
      <li class="surpresa_list_item">こんにちは世界 ! <span class="fi fi-jp fis"></span></li>
      <li class="surpresa_list_item">Hola Mundo ! <span class="fi fi-es fis"></span></li>
    </ul>
  </div>
</div>